*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right, #ECC5FB, 80%, #FaF4B7);
    min-height: 100vh;
    padding: 40px;
    font-family: sans-serif;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}
